/* Flash */
.flash_custom_parent {
  position: relative;
}
.flash_custom_parent .alert_custom {
  position: absolute;
  top: var(--nav-height);
  width: 100%;
}
.flash_custom_parent .alert_custom .close_right {
  float: right;
}
.flash_custom_parent .keep_line_break {
  white-space: pre-line;
}

/* Navbar */
.navbar_super {
  position: fixed;
  z-index: 1;
}
.navbar_super .navbar_custom {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 5rem;
  gap: 1rem;
  background-color: var(--bs-primary);
  border: 1px solid black;
  border-radius: 1px;
  /* Navbar Left */
  /* Navbar Center */
  /* Navbar Right */
}
.navbar_super .navbar_custom .nav_left {
  min-width: 0;
  max-width: 8rem;
}
.navbar_super .navbar_custom .nav_left_a_href {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.navbar_super .navbar_custom .dash_and_data_logo {
  height: 75%;
}
.navbar_super .navbar_custom .nav_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar_super .navbar_custom .page_title_large {
  display: none;
}
.navbar_super .navbar_custom .nav_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_super .navbar_custom nav.btn_menu {
  display: block;
}
.navbar_super .navbar_custom .nav_menu {
  cursor: pointer;
  height: 5rem;
}
.navbar_super .navbar_custom .nav_exit_div {
  display: flex;
  justify-content: end;
  padding: 1rem 1rem 0 0;
}
.navbar_super .navbar_custom nav {
  display: none;
}
.navbar_super .navbar_custom nav {
  position: fixed;
  z-index: 1;
  width: 40%;
  right: 0;
  top: 0;
  background: var(--bs-gray-500);
  height: 100%;
  font-size: 1.25rem;
}
.navbar_super .navbar_custom nav ul {
  list-style-type: none;
  padding: 2rem 1rem 0 0;
}
.navbar_super .navbar_custom nav ul li a {
  text-decoration: none;
  display: block;
  padding: 0.5em 10px 0.5em 0;
  text-align: right;
  color: var(--bs-gray-800);
  cursor: pointer;
}
.navbar_super .navbar_custom nav ul li a:hover {
  font-weight: bold;
}
.navbar_super .navbar_custom nav .dropdown-menu {
  background-color: var(--bs-gray-700);
  min-width: 100%;
}
.navbar_super .navbar_custom nav .dropdown-menu .dropdown-item {
  color: var(--bs-gray-100);
  text-align: center;
}
.navbar_super .navbar_custom nav .dropdown {
  background-color: none;
}
.navbar_super .navbar_custom nav .dropdown:hover {
  background-color: none;
}
.navbar_super .navbar_custom nav .btn_list_div {
  width: 100%;
  display: flex;
  justify-content: end;
}
.navbar_super .navbar_custom nav .btn_list_div_sub {
  width: calc(100% - 2rem);
}
.navbar_super .navbar_custom nav .custom_post_btn {
  background-color: var(--bs-blue);
  width: 100%;
}
.navbar_super .navbar_custom nav .custom_delete_btn {
  background-color: #df382c;
  width: 100%;
}
.navbar_super .navbar_custom nav .looks_like_a_button {
  text-align: center;
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 1rem 1rem var(--nav-height) 3rem;
  background-color: var(--bs-gray-700);
}
.footer .footer_right .footer_link_item {
  width: 100%;
  display: flex;
  justify-content: end;
}
.footer .footer_right .contact_nick {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar_super {
    /* END OLD Navbar */
  }
  .navbar_super .navbar_custom {
    justify-content: center;
    height: fit-content;
    /* OLD Nav bar */
  }
  .navbar_super .navbar_custom .nav_left {
    width: 12rem;
  }
  .navbar_super .navbar_custom .nav_left_a_href {
    width: 10rem;
  }
  .navbar_super .navbar_custom .dash_and_data_logo {
    min-width: auto;
    height: 7rem;
    padding: 0.25rem 2rem;
  }
  .navbar_super .navbar_custom .nav_right {
    width: 100%;
  }
  .navbar_super .navbar_custom .nav_right .nav_exit_div,
  .navbar_super .navbar_custom .nav_right .nav_menu {
    display: none;
  }
  .navbar_super .navbar_custom .nav_right nav {
    display: flex;
    justify-content: flex-end;
    background: none;
    height: var(--nav-height);
  }
  .navbar_super .navbar_custom .nav_right nav ul {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 0.5rem 0 0;
    height: var(--nav-height);
    gap: 0.25rem;
  }
  .navbar_super .navbar_custom .nav_right nav ul li {
    border: 1px solid;
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--bs-teal);
    height: calc(var(--nav-height) - 2rem);
    display: flex;
    align-items: center;
  }
  .navbar_super .navbar_custom .nav_right nav ul li a {
    font-size: 2rem;
    color: var(--bs-gray-200);
  }
  .navbar_super .navbar_custom .nav_right nav ul li .dropdown-menu {
    width: 40px;
  }
  .navbar_super .navbar_custom .nav_right nav ul li .dropdown-menu .dropdown-item {
    width: 60%;
    font-size: medium;
    padding: 0 0 0 5px;
    margin: 0 0 0 0;
  }
  .footer {
    padding: 1rem 2rem var(--nav-height) 3rem;
  }
  .footer .footer_link_item {
    padding-right: 3rem;
  }
  .footer .contact_nick {
    font-size: 1.5rem;
  }
}
/* Admin Page */
.admin_page {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
.admin_page .std_frame_light_gray {
  background-color: var(--color-gray02);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
}
.admin_page .col_1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
}

/* OLD */
/* Databsase Page */
.database_page .ul_no_bullets {
  list-style-type: none; /* Remove bullets */
}
.database_page .file_input_div {
  padding-left: 2rem;
}

/* HOME */
.home_page {
  width: calc(100% - 1rem);
  display: flex;
  flex-wrap: wrap;
}
.home_page h1 {
  width: 100%;
}
.home_page .hero_center {
  display: flex;
  justify-content: center;
  width: 100%;
}
.home_page .hero_center img {
  max-width: 100%;
}

.nginx_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nginx_page .table_background_super {
  width: calc(100% - 1rem);
}
.nginx_page .table_background {
  width: 100%;
}
.nginx_page table {
  word-wrap: break-word;
  table-layout: fixed;
  color: var(--website_theme_font_color_dark);
}
.nginx_page .web-addresses-column {
  word-wrap: break-word;
}
.nginx_page .proxy-port-column {
  width: 6rem;
  max-width: 6rem;
  white-space: nowrap;
  flex-wrap: nowrap;
}

.running_services_page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.running_services_page .table_background_super {
  width: calc(100% - 1rem);
}
.running_services_page .table_background {
  width: 100%;
}
.running_services_page table td:nth-child(2) {
  max-width: 3rem;
  word-wrap: break-word;
}
.running_services_page table {
  color: var(--website_theme_font_color_dark);
}

/* About */
section.about_main {
  color: var(--website_theme_font_color_dark);
}
section.about_main a {
  color: var(--website_theme_font_color_a_dark);
}
section.about_main a:hover {
  color: var(--website_theme_fun_color);
}

/* Sys Log Page */
.sys_log_page .syslog_doc_div {
  background-color: black;
  padding: 1rem;
}
.sys_log_page code {
  font-size: 0.6rem;
}
.sys_log_page ul#syslog_doc_id {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sys_log_page ul#syslog_doc_id li {
  margin: 0.1em 0;
  /* Adjust this value for desired spacing */
}

@media screen and (min-width: 768px) {
  .home_page {
    width: calc(100% - 5rem);
  }
  /* Nginx Server Status */
  .nginx_page .table_background_super {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
  }
  .nginx_page .table_background {
    width: 80%;
  }
  .running_services_page .table_background_super {
    width: calc(100% - 1rem);
    display: flex;
    justify-content: center;
  }
  .running_services_page .table_background {
    width: 80%;
  }
}
:root {
  --nav-height: 123px;
  --website_theme_font_color_light: white;
  --website_theme_font_color_a_light: var(--bs-gray-300);
  --website_theme_font_color_dark: black;
  --website_theme_font_color_a_dark: var(--bs-gray-600);
  --website_theme_fun_color: #20C997;
  --website_max_width: 70rem;
}

body {
  background-color: var(--bs-gray-300);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.space_for_navbar_and_footer {
  padding-top: var(--nav-height);
}

.flex_center {
  display: flex;
  justify-content: center;
}

.std_framing {
  border: 1px solid var(--bs-gray-500);
  border-width: 0.5em;
  border-radius: 3rem;
  background-color: var(--bs-gray-400);
  padding: 1rem;
  color: var(--bs-gray-700);
  font-size: var(--normal_font_size);
}

.hundred_flex {
  width: 100%;
  display: flex;
}

.and_right {
  justify-content: end;
}

.and_wrap {
  flex-wrap: wrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: var(--bs-gray-900);
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
