{% extends "_layout.html" %}
{% block main %}

<div class="space_for_navbar_and_footer">
    <div class="nginx_page">
        <h1>Nginx Servers Running on {{ hostname }}</h1>

        <div class="table_background_super">
            <div class="table_background std_framing">
              <table id="table_id" class="display table ">
                <thead>
                  <tr>
                    {% for i in df_dict[0].keys() %}
                    <th>{{ i }}</th>
                    {% endfor %}
    
                  </tr>
                </thead>
                <tbody>
                    {% for row in df_dict %}
                    <tr>
                        <td>{{ row['Proxy Port'] }}</td>
                        <td>{{ row['Web addresses'] }}</td>
                    </tr>
                {% endfor %}
    
                </tbody>
              </table>
            </div><!-- table_background -->
          </div><!-- table_background_super -->

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
      $('#table_id').DataTable();
    });
    </script>

{% endblock %}