{% extends "_layout.html" %}
{% block main %}

<form method="POST" id="form_1" enctype="multipart/form-data"></form>


<div class="admin_page">
    <div class="space_for_navbar_and_footer flex_center">
    <div class="col_1">

        
        <div>
            <h2>Users</h2>
            {% for user in users_list %}
            <ul class="ul_no_bullets">
                {% if user.permission=='add privilege' %}
                <li >{{ user.email }}</li>

                {% else %}
                <li >{{ user.email }} <a class="remove-image"  href="{{ url_for('bp_admin.delete_user', email=user.email) }}" 
                    style="display: inline;">&#215;</a></li>

                {% endif %}
            </ul>
            {% endfor %}
        </div>


        <br/>
        <div>
            Add user: <input type="text" class="wider_input_login" name="add_user" >
            <input type="checkbox" name="add_privilege" value="True"> Allow Add Privilege
        </div>

        <br/>
        <button type="submit" class="btn btn-primary ml-3" name="confirm_selection" value=True>Confirm</button>
        <br/>
        <br/>

        <i>

        Note: This does not register a user or email it only allows an email to access the application. Once an email is
         added to this list the email will be allowed to register through the normal process of clicking 'Register'.
        </i>


    </div><!-- col_1 -->
</div><!-- space_for_navbar_and_footer flex_center -->
  </div><!-- admin_page -->
{% endblock %}