@use "custom";
@use "navbar";
@use "users";
@use "admin";
@use "blog";
@use "datatools";

:root {
  --nav-height: 123px;
  // --table-chart-width: 100%;
  --website_theme_font_color_light: white;
  --website_theme_font_color_a_light: var(--bs-gray-300);
  --website_theme_font_color_dark: black;
  --website_theme_font_color_a_dark: var(--bs-gray-600);
  --website_theme_fun_color: #20C997;
  --website_max_width: 70rem;
}

body {
  // background-color: #CFD4D9;
  background-color: var(--bs-gray-300);
  // background-color: var(--bs-gray-900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // font-family: 'Roboto Slab', serif;
}

.space_for_navbar_and_footer {
  padding-top: var(--nav-height);
  // padding-bottom: var(--nav-height);

}

.flex_center {
  display: flex;
  justify-content: center;
}

// .main_wrap{
//   flex-wrap: wrap;
// }

.std_framing {
  border: 1px solid var(--bs-gray-500);
  border-width: .5em;
  border-radius: 3rem;
  background-color: var(--bs-gray-400);
  // padding: 1rem 0 1rem 0;
  padding: 1rem;
  color: var(--bs-gray-700);
  // width: 100%;
  font-size: var(--normal_font_size)
}

.hundred_flex {
  width: 100%;
  display: flex;
}

.and_right {
  justify-content: end;
}

.and_wrap {
  flex-wrap: wrap;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: var(--bs-gray-900);
  z-index: -1;
}

/* HOME */
.home_page {
  width:calc(100% - 1rem);
  h1{width:100%;}
  display:flex;
  flex-wrap: wrap;
  .hero_center{
    display:flex;
    justify-content: center;
    // width:min-content;
    width:100%;
    // background-color: red;
    img{max-width:100%;}
  }



}

/* About */
section.about_main{
  color:var(--website_theme_font_color_dark);
  a{color: var(--website_theme_font_color_a_dark);}
  a:hover{color: var(--website_theme_fun_color);}
}

/* Sys Log Page */
.sys_log_page{
  .syslog_doc_div{
    background-color: black;
    padding: 1rem;

  }
  code {
    font-size: .6rem;
  }
  ul#syslog_doc_id {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  ul#syslog_doc_id li {
      margin: 0.1em 0;  /* Adjust this value for desired spacing */
  }

}

@media screen and (min-width: 768px) {
  .home_page {
    width:calc(100% - 5rem);




  }

}